/* Estilos específicos para la página principal */

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color:  #D1C4E9;

}

.maxcontainer {
    width: 500px; /* Puedes ajustar este valor según tus necesidades */
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    text-align: center; /* Centra los elementos hijos */
    border: #7B68EE;
    background-color: white;
    height: 700px;

}




button {
    background-color: #9575CD	;
    color: white;
    padding: 5px;
    border: none;
    cursor: pointer;
}

nav {
    display: none;
}

.visible {
    display: block;
}

/* Agrega un margen superior al cuerpo para evitar que el contenido esté detrás del encabezado */
body {
    margin-top: 50px; /* Ajusta según la altura de tu encabezado */
}


#map-container {
    display: flex;
    flex-direction: column;
    display: none;
}

#map {
    height: 300px; /* Ajusta la altura del mapa según tus necesidades */
    margin-bottom: 10px;
}

#directions-panel {
    display: flex;
    flex-direction: column;
}

input, button {
    margin-bottom: 10px;
}

.campo1, .campo2 {
    width: auto; /* Ajusta el ancho según tus necesidades */
    margin-bottom: 10px; /* Espaciado inferior para separar los campos */
}

.campo1 input, .campo2 input {
    height: 100%;
    width: 100%;
    padding: 10px; /* Ajusta el relleno según tus necesidades */
    border: 1px solid #ccc; /* Ajusta el estilo del borde según tus necesidades */
    border-radius: 10px; /* Radio de esquina para hacerlo redondeado */
    box-sizing: border-box; /* Asegura que el tamaño total incluya el relleno y el borde */
}

.campo1 input::placeholder, .campo2 input::placeholder {
    color: #999; /* Color del texto del marcador de posición */
}


.bondi1{
    display: flex; /*centro lo de adentro*/
    align-items: center; /*centro lo de adentro*/
    justify-content: center;/*centro lo de adentro*/
    margin-top: 20px;
    background-color: #7B68EE	;
    width:30%;
    height: 40px;
    border: 1px solid #ccc; /* Ajusta el estilo del borde según tus necesidades */
    border-radius: 10px;
    color: white;
}

.fa-bus {
    color: white;
}

/*HEADER*/
#menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /* Cambia la dirección a columna */
    align-items: flex-start; /* Alinea los elementos a la izquierda */
}

#menu li {
    margin-bottom: 10px; /* Espacio entre elementos, ajusta según sea necesario */
}

#menu a {
    text-decoration: none; /* Quitar subrayado */
    color: white; /* Cambiar color a blanco */
    display: block; /* Asegura que los enlaces ocupen todo el ancho disponible */
    padding: 5px; /* Agrega un relleno para un aspecto más delgado */
}

/* Cambiar color al pasar el mouse sobre el enlace */
#menu a:hover {
    color: #CCCCCC; /* Puedes ajustar el color al pasar el mouse según tus preferencias */
}

.header {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    /* Quitar la propiedad display: flex; */
    /* Quitar la propiedad flex-direction: row; */

    top: 0;
    left: 0;
    width: auto;
    background-color: #7B68EE;
    color: white;
    padding: 10px;
    text-align: center;
    z-index: 1000;
}

.menu-toggle {
    cursor: pointer;
    margin-right: 10px;
}

/* Estilo para los elementos del menú */
nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    position: absolute; /* Cambiar a posición absoluta */
    top: 100%; /* Alinear el menú debajo del botón */
    left: 0;
    background-color: #7B68EE; /* Igualar el color de fondo */
}

nav.visible ul {
    display: flex;
}

/*------------------------------------------------*/


/* Estilos para pantallas más pequeñas (ej. dispositivos móviles) */
@media only screen and (max-width: 600px) {
    header {
        flex-direction: column; /* Cambia la dirección del flexbox a columna */
        text-align: left; /* Alinea el texto a la izquierda */
        padding: 10px 20px; /* Ajusta el relleno según tus necesidades */
        margin-bottom: 50px;
    }


    nav ul {
        flex-direction: column; /* Cambia la dirección del flexbox a columna */
        text-align: center; /* Alinea el texto al centro */
        display: none; /* Oculta el menú */
    }

    /* Muestra el menú cuando se hace clic en el botón */
    .menu-toggle.active + nav ul {
        display: flex;
    }
}